<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VenusMobile" >
        <activity
            android:name=".view.PerguntaCouroCabeludoActivity"
            android:exported="false" />
        <activity
            android:name=".view.PerguntaTipoPeleActivity"
            android:exported="false" />
        <activity
            android:name=".view.PerguntaSensibilidadeActivity"
            android:exported="false" />
        <activity
            android:name=".view.PerguntaFototipoActivity"
            android:exported="false" />
        <activity
            android:name=".view.PerguntaFaixaEtariaActivity"
            android:exported="false" />
        <activity
            android:name=".view.PerguntaPreferenciaActivity"
            android:exported="false" />
        <activity
            android:name=".view.PerguntaAlergiaActivity"
            android:exported="false" />
        <activity
            android:name=".view.PerfilProntoActivity"
            android:exported="false" />
        <activity
            android:name=".view.PrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".view.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.PesquisaInicialActivity"
            android:exported="false" />
        <activity
            android:name=".view.PerguntaCabeloActivity"
            android:exported="false" />
        <activity
            android:name=".view.RecuperarSenhaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.CadastrarActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.BemVindoActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>